@import "./styles/reset.css";
@import "./styles/header.css";
@import "./styles/addProduct.css";


/*=== Main Color Variables ===*/
:root{
    --main-color: #B40E00;
    --secondary-color: #20F77B;
    --title-color-primary: white;
    --title-color-secondary: black;
    --shadow: gray;    
    --form-color: #03318C;
    --fondo-btn-enviar: #14BF05;
    --fondo-btn-enviar2: #11A604;
    --btn-efec-color: #20e2d7;
}

body{
    font-family: "Press Start 2P";
}